.container{
    text-align:center;
}

.board{
    width:300px;
    margin:20px auto;

    display:grid;
    grid-template-columns:repeat(3,100px);
    grid-template-rows:repeat(3,100px);
}

.cell{
    border:1px solid black;
    background:pink;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:50px;
    cursor:pointer;
}

.selected{
    background:purple;
    color:white;
}

.message{
    font-weight:bold;
}